<%- include("partials/header") %>
    <main>
        <section class="scrolling_info">
            <div class="info">
                <p>Free shipping on orders over &#8358;50,000</p>
            </div>
        </section>
        <div class="title">
            <h2>Accessories</h2>
            <p>keep your pets clean and happy</p>
        </div>
        <div class="lsContainer">
            <% if (feedProducts) { %>
            <% feedProducts.forEach(product => { %>
                <div class="product">
                    <a href="/product/feed/<%= product.id %>">
                        <div class="product-img">
                            <img src="<%= product.feed_url %>" alt="">
                        </div>
                        <div class="product-txt">
                            <p><%= product.feed_name %></p>
                            <h3 class="price"><%= product.feed_price %></h3>
                        </div>
                    </a>
                </div>
            <% }); %>
            <% } %>
        </div>
    </main>
<%- include("partials/footer") %>